.current-price{
    text-align: center;
    width:50%;
    margin: auto;
}
.current-price a{
    font-size: 38px;
}

.btn-checkout{
    border-radius: 5px;
    color: #fff;
    width: 130px;
    padding-top: 10px;
    font-size: 24px;
    padding-bottom: 10px;
}

.payment{
    text-align: center;
    padding-bottom: 10px;
}