.name-entry{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.select-type{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    text-align: center;
}
.type-bubble{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.search-input{
    margin-top: 10px;
    display: block;
}
.search-bar{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
.request-bar{
    width: 100%;
}


.search-dropdowns{
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

.subj-select{
    margin-top: 10px;
    width:49%;
}
.subj-select.right{
    float: right;
}

h4{
    margin-bottom: 10px;
}

.tutor-request{
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}