.applybutton{
    display: block;
    width:8%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.descrip{
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

.descrip a{
    font-size:18px;
}
.account-btns{
    text-align: center;
    margin-bottom: 30px;
}
.btn-account{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
}
h3{
    text-align: center;
}
.heading{
    margin-top:5px;
}