.applybutton{
    display: block;
    width:8%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.descrip{
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

.descrip a{
    font-size:18px;
}