/* Properties of the banner above each page */
.banner{
  border-radius: 0;
  margin: 0;
}
/* Main canvas for each page, all non-static content is displayed here */
.fg-hum{
  display: block;
  background-color: #3b6ab9;
  color: #fff;
  margin: -15px 0px 5px 0px;
  padding: 15px 10px 10px 10px;

}
/* Descriptions on pages */
.fg-hum p{
  width: 70%;
  text-align: center;
  margin: auto;
  font-size: 18px;
}

/* Page titles */
.page-title h2{
  background-color: #ef903a;  
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 14px;
  width: 36%;
  border-radius: 5px;
  border-bottom: 5px solid #ff6f22;
}

/* Footer displayed below each page */
.footer{
  padding: 10px;
  color: white;
  background-color: #1b50a6;
  text-align: center;
  border-radius: 0 0 10px 10px;
  margin: -10px 0 0 0;
}
/* Ensures container is 100% page height */
.container{
  height: 100%;
  min-width: 80%;
}
/* Universal button properties */
.btn{
  transition:none;
  color:#fff;
}

/* Inner block that displays content on several pages */
.inner-present{
  padding: 5px;
  border-radius: 10px;
  background-color: #517ecb;
  padding-bottom: 10px;
}

.inner-present.home-page {
  margin: 10px;
  padding-bottom: 10px;
  height: 94%;
}


.inner-present.student-home-page {
  margin: 10px 10px 20px 20px;
  height: 300px;
}

.inner-present.login-page {
  margin: 2% 25% 2% 25%;
  padding: 10px;
  padding-top: 30px;
  height: 94%;
}
.inner-present.register-page {
  margin: 2% 18% 2% 18%;
  padding: 10px;
  padding-top: 30px;
  height: 94%;
}

.inner-present .entry-prompt{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 70%;
}
/* Properties of the pricing displays */
.pricing-window{
  width: 90%;
  margin: auto;
}
/* Indicator of invalid user input */
.invalid-entry{
  text-align: center;
  color: rgb(255, 87, 87);
  display: none;
}
.invalid-entry.active{
  display: block;
}


/* Orange Button */
.btn-orange{
  background-color: #ff903a;
  color: #fff;
  transition: none;
}


.btn-orange.active{
  background-color: #f3ba7c;
}

.btn-orange:hover{
  background-color: #ec8536;
  color: #fff;
}

.btn-block{
  display:block;
  background-color: #ff903a;
  border-radius: 5px;
  color: #fff;
  width: 130px;
  padding-top: 10px;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
/* If never used, delete these */
.btn-blue{
  background-color: #3b6ab9;
  color: #fff;
  margin: 0px 0 -8px 0;
  transition: none;
}

.btn-blue:hover{
  background-color: #1b50a6;
  color: #fff;
}

.btn-search{
  background-color: #ff903a;
  font-size: 16px;
  height: 40px;
  margin-bottom: 10px;
  margin: 8px 0 0 12px;
}

.btn-link{
  margin: 12px 0 0 0;
  height: 40px;
}

.btn-tableswitch{
  display: block;
  color:#fff;
  width: 80%;
  padding: 2px;
  margin-top: 10px;
  margin-left: 4px;
  background-color:#517ecb;
  border-radius: 5px;
  transition: none;
  /* float: left; */
}
/* .btn-tableswitch.right{
  float: right;
} */
.btn-tableswitch:hover{
  background-color:#1b50a6;
  color: #fff;
}

.account-btns{
  text-align: center;
  margin-bottom: 30px;
}
.btn-account{
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: auto;
}

/* Tables */
table{
  table-layout: fixed;
  width: 100%;
  border-radius: 10px;
  border-collapse: collapse;
  overflow: hidden;
}
th{
  font-size: 24px;
  font-weight: normal;
  background-color: #f79951;;
  padding-left: 10px;
}

td{
  font-size: 20px;
  padding-left: 10px;;
}
tr:nth-child(odd){
  background-color:#517ecb;
}
tr:nth-child(even){
  background-color:#3b69b8;
}
tr:nth-child(even).member:hover{
  background-color:#3660a8;
}
tr:nth-child(odd).member:hover{
  background-color:rgb(76, 123, 206);
}
tr.member td:hover{
  cursor: pointer;
}

/*Table Page Change Button */
.control{
  width:18%;
  margin-left: auto;
  margin-right: auto;
}
.find-tutor-button{
  text-align: center;
}

/* Search Box */
.querybox{
  margin-left: 20px;
  margin-right: 20px;
}

/* Match Input Box */
.matchentry{
  padding: 0 15% 0 15%;
}

/*Additional Properties*/
.center-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hours-select{
  display: block;
}

.hours-select a{
  font-size: 30px;
}

.hours-select .price-select{
  width: 10%;
}
.date-select{
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 11px;
}
select{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  border: none;
  border-radius: 5px;
  outline: none;
}
/* My Info */
.myinfo-label{
  width:20%;
  margin: auto;
}
.subjects-info{
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}
.subj-interact{
  height:100px;
}
.subj-select{
  margin-bottom: 11px;
}
.posting-delete{
  float: right;
  margin: 0 4px 4px 0;
}

/* From Captain Anonymous on CodePen */
.scrollbar
{
	margin-left: 5px;
	float: left;
	height: 300px;
	width: 98%;
	background: #517ecb;;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}

/* Subpage Content */
.subpage-content{
	padding: 5px 10px 5px 10px;
}  

.changepass-fields{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Scrolling elements */

#wrapper
{
	text-align: center;
	margin: auto;
}


#style-8::-webkit-scrollbar-track
{
	background-color: #6790d7;
}

#style-8::-webkit-scrollbar
{
	width: 10px;
	background-color: #b0caf7;
}

#style-8::-webkit-scrollbar-thumb
{
	background-color: #b0caf7;	
}

/* Switch, from W3 Schools */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3b6ab9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.account-settings{
  margin-left: 30%;
}
.account-settings .row{
  margin-bottom: 10px;
}